<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Earthshatter</title>
    <base href=".">
    <link rel="icon" href="{% static 'images/quake.ico' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="nav_container">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="nav-container-links">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
                    <li><a class="navbar-link" href="#">Create</a></li> <!-- TODO -->
                    <li><a class="navbar-link" href="#">Explore</a></li> <!-- TODO -->
                    <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                    <li><a class="navbar-link" href="{% url 'users' %}">Users</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid bg-dark text-white">
        <div class="container">
            {% block body_block %}
            {# Anything outside of this will be inherited if you use extend.#}
            {% endblock %}
        </div>
    </div>
</body>
</html>