Django==3.2.12
djangorestframework>=3.12.0,<3.13.0
django-rest-auth==0.9.5
django-cors-headers==3.5.0
drf-nested-routers==0.92.5
easy-thumbnails==2.7.1
libmagic==1.0
django-versatileimagefield==2.0
python-magic==0.4.18 
psycopg2-binary>=2.8,<2.9
Pillow>=8.1.1
pandas==1.2.3
gunicorn==20.0.4
Faker==5.0.1
etherscan==0.3.0
coincurve==15.0.0
pysha3==1.0.2
# eth-brownie --install-option='--ignore-installed certifi'

# python-magic-bin==0.4.14 # Only install on windows

# graphene-django==2.15.0
# scikit-learn==0.23.2
# joblib==0.16.0