<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Earthshatter</title>
    <base href=".">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" http-equiv="Content-Type"/>
    <meta name="description" content="Dankest anonymous meme browser"/>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="app">
    <!-- React will load here -->
</div>
</body>
<script src="{% static "frontend/main.js" %}"></script>
</html>