<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
    <title>Earthshatter</title>
    <base href=".">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" http-equiv="Content-Type">
</head>
<body>
    <div class="nav_container">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="nav-container-links">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </nav>
    </div>

    {% block body_block %}
    {# Anything outside of this will be inherited if you use extend.#}
    {% endblock %}
</body>
</html>