
html {
  /* this makes sure the padding and the border is included in the box sizing */
  /* box-sizing: border-box; */
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: y proximity;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

body {
  /* padding-top: 50px; changing this should come with changing the topbar */
  margin:0;
  padding:0;
  height: 100%;
}

.App {
  min-height: 100vh;
  /* background-color: #242424; "#18181b", 1d1f21 , 0e0e10 */
  background-color: #0e0e10; 
  color: #efeff1; /*6f7983*/
}
