
html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  background-color: #242424;
  color: #d1dce6;
}
